<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="row">
        <div class="com div1">
            <img src="https://tse2.mm.bing.net/th/id/OIP.JAyDKgnlphi66UW3mKCWKQHaES?pid=Api&P=0&h=180" alt="">
        </div>
        <div class="com div2">
            <img src="https://tse3.mm.bing.net/th/id/OIP.wKaosIn_frTKIrm3J9IX4wHaDe?pid=Api&P=0&h=180" alt="">
        </div>
        <div class="com div3">
            <img  src="https://tse3.mm.bing.net/th/id/OIP.DWWpjoJ98F0WTJg0bLwtDwHaEJ?pid=Api&P=0&h=180" alt="">
        </div>
    </div>
</body>
</html>