{% extends "base.html" %}

{% block content %}
  
<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-6">
    <form method="GET" action="/search">
    <input name="query" class="bg-gray-50 border p-2 m-2" type="text">
    <button type="submit" class="bg-green-500 p-2 text-white cursor-pointer">Search</button>
    </form>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    STU-ID
                </th>
                <th scope="col" class="px-6 py-3">
                    STU-NAME
                </th>
                <th scope="col" class="px-6 py-3">
                    STU-EMAIL
                </th>
                <th scope="col" class="px-6 py-3">
                    STU-PASSWORD
                </th>
                <th scope="col" class="px-6 py-3">
                    ACTION
                </th>
               
            </tr>
        </thead>
        <tbody>
            {% for data in users %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{data.SID}}
                </th>
                <td class="px-6 py-4">
                    {{data.SFULL_NAME}}
                </td>
                <td class="px-6 py-4">
                    {{data.SEMAIL}}
                </td>
                <td class="px-6 py-4">
                    {{data.SPASS}}
                </td>
                <td class="px-6 py-4">
                    <a class="bg-red-500 text-white p-2" href="{{url_for('delete_stu',id=data.SID)}}" onclick="return confirm('Are you Sure to delete data.')" >Delete</a>
                    <br>
                    <br>
                    <a class="bg-green-500 text-white p-2" href="{{url_for('edit_user',id=data.SID)}}">Update</a>
                </td>
              
            </tr>
            {% endfor %}
          
            
        </tbody>
    </table>
</div>

{% endblock content %}

